# Arquivos e diretórios Maven
/target/
mvn/
.mvn/

# Dependências do Maven (arquivos JAR, por exemplo)
*.jar

# Arquivos e diretórios específicos do IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Arquivos de configuração do IntelliJ IDEA
.idea_modules/

# Arquivos de configuração do Visual Studio Code
.vscode/
.settings/
*.code-workspace

#Outras pastas e arquivos
object.bin
src/main/java/com/elixir/Secrets.java
/object.bin
/src/main/java/com/elixir/Secrets.java
