# Arquivos e diretórios Maven
/target/

# Arquivos e diretórios específicos do IntelliJ IDEA
/.idea/
*.iml
*.ipr
*.iws
out/*

# Arquivos de configuração do IntelliJ IDEA
.idea_modules/*

# Arquivos de configuração do Visual Studio Code
/.vscode/
.settings/*
*.code-workspace

#Outras pastas e arquivos
/object.bin
/src/main/java/com/teamvectora/elixirapi/Secrets.java
