@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');

Label{
    -fx-font-family: 'IM Fell DW Pica SC', serif;
}
Text{
    -fx-font-family: 'IM Fell DW Pica SC', serif;

}
VBox{
     -fx-font-family: 'IM Fell DW Pica SC', serif;
}

HBox{
    -fx-font-family: 'IM Fell DW Pica SC', serif;
}

#headerText {
    -fx-font-family: 'Cardinal';
    -fx-text-fill: red;
    }