/* Styles.css */

#AnchorPane {
    -fx-background-color: #1c2b3e;
}

#sectionPane {
    -fx-background-color: #0d1925;
}

#raceCharacterButton, #dateCharacterButton, #classCharacterButton, #backgroundCharacterButton, #attributesCharacterButton,
#nextDateButton, #createCharacterButton, #myCharacterMenuButton {
    -fx-background-color: #fad9a6;
    -fx-border-color: #dbaf69;
    -fx-border-width: 3;
    -fx-border-radius: 6;
    -fx-text-fill: white;
}

#aliagmentSelectionFiled {
    -fx-background-color: #ced8e0;
}

#errorLabel {
    -fx-text-fill: red;
}

Label {
    -fx-font-family: "System Bold";
    -fx-font-size: 16;
    -fx-text-fill: #110000;
}

Line {
    -fx-stroke: white;
    -fx-stroke-width: 3;
}

Rectangle {
    -fx-arc-width: 5;
    -fx-arc-height: 5;
    -fx-stroke-type: inside;
}

TextField, TextArea, Spinner {
    -fx-border-color: #bbc3c9;
    -fx-border-radius: 5;
}

MenuBar {
    -fx-background-color: #1c2b3e;
}

MenuBar, Menu, MenuItem {
    -fx-text-fill: white;
}

.control-button {
    -fx-background-color: #fad9a6;
    -fx-border-color: #dbaf69;
    -fx-border-width: 3;
    -fx-border-radius: 6;
    -fx-text-fill: white;
    -fx-font-family: "System Bold Italic";
    -fx-font-size: 14;
}

/* Add more custom styles as needed */

